body{
    font-family: 'Georama', sans-serif;
    width:60%;
    margin: auto;
    background-color: #fdcb6e;
}

.a1{
    color:#324b63;
    font-weight: bold;
    text-decoration: underline;
    font-size:30px;
    text-align: center;
    
}
.b1{
    text-align: justify;
    font-size: 20px;
}
.c1{
    text-align: justify;
    font-size: 20px;
    color:#34495e;
    text-decoration: underline;
    font-weight: bold;
}
.c2{
    background-color: #6adfc7;
    border:1px solid black;
    border-radius: 5px;
    text-align: justify;
}